@import "variables";

@keyframes slideInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  50% {
    opacity: 0.5;
    transform: translateY(10%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-15px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(15px, 0, 0);
  }
}

@keyframes slide-fwd-right {
  0% {
    transform: translateZ(0) translateX(0);
  }
  100% {
    transform: translateZ(160px) translateX(10px);
  }
}

@keyframes heartbeat {
  0% {
	transform: scale(1);}

  20% {
	transform: scale(1);}

  40% {
	transform: scale(1.08);}

  50% {
	transform: scale(1.1);}

  60% {
	transform: scale(.96);}

  70% {
	transform: scale(.90);}

  80% {
	transform: scale(.85);}

  100% {	
	transform: scale(1);}
}