@import "../../styles/variables";

.welcome-page-element {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
}

.welcome-page-title {
  margin: 1em;
  position: absolute;
  top: 1em;
  font-size: 2em;
  font-weight: 300;
}

.welcome-page-link {
  border-radius: 50%;
}

.welcome-page-button {
  border-radius: 50%;
  width: 20em;
  height: 20em;
  border: 2px solid;
  font-size: 1em;
  background-color: white;
  cursor: pointer;
    &:hover {
      animation: shake 0.6s cubic-bezier(.36,.07,.19,.97) both;
    }
    &:focus {
      background-color: black;
    }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-15px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(15px, 0, 0);
  }
}

@media only screen and (max-height: 725px) {
  .welcome-page-element h1{
    font-size: 1.5em;
  }

  .welcome-page-link {
    border-radius: 50%;
    margin-top: 2em;
  }
  
  .welcome-page-button {
    border-radius: 50%;
    width: 15em;
    height: 15em;
    border: 2px solid;
    font-size: 1em;
  }
}

@media only screen and (max-height: 480px) {
  .welcome-page-element h1{
    font-size: 1.2em;
  }

  .welcome-page-link {
    border-radius: 50%;
    margin-top: 3em;
  }
  
  .welcome-page-button {
    border-radius: 50%;
    width: 12em;
    height: 12em;
    border: 1px solid;
    font-size: 1em;
  }
}